@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}


nav{
  position: fixed;
  background: #030303;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
  justify-content: space-between;
  align-items: center;

}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 40px;
  font-weight: 165;
  font-family: 'Chakra Petch', sans-serif; 
  
}
.menu ul{
  display: inline-flex;
  font-family: 'Chakra Petch', sans-serif;
}
.menu ul li{

  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Chakra Petch', sans-serif;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;

  transition: all 0.3s ease;
  font-family: 'Chakra Petch', sans-serif;
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}
.img{

  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #060606;
}
.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.title{
  
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #422e8d 0%,
    #ff9ab8 29%,
    #5c88af 67%,
    #87a8c4 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  font-family: 'Chakra Petch', sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 89px;
  font-weight: 100;

}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}




.center .sub_title{
  color: #fff;
  font-size: 23px;
  font-weight: 100;
}
.center .btns{
  margin-top: 19px;
  font-family: 'Chakra Petch', sans-serif;
  text-decoration: none; 
}
.center .btns button{
  offset: auto;
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 26px;
  font-weight: 600;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  font-family: 'Chakra Petch', sans-serif;

}
.center .btns button:first-child{
  color: #fff;
  background: none;
  font-family: 'Chakra Petch', sans-serif;
}
.btns button:first-child:hover{
  background: white;
  color: black;
  font-family: 'Chakra Petch', sans-serif;
}
.center .btns button:last-child{
  background: white;
  color: black;
  font-family: 'Chakra Petch', sans-serif;
}
.wezo{
    margin-top: 3px;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 320;
    font-size: 16px;
    font-family: 'Chakra Petch', sans-serif;

}
